@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
    
}

.menu-grid-container::-webkit-scrollbar { width: 8px; }
.menu-grid-container::-webkit-scrollbar-track { background: #f1f1f1; }
.menu-grid-container::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 4px; }
.menu-grid-container::-webkit-scrollbar-thumb:hover { background: #94a3b8; }

.nav-link.active {
    background-color: #3b82f6;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px -1px rgba(59, 130, 246, 0.5), 0 2px 4px -1px rgba(59, 130, 246, 0.25);
}

.item-image {
    height: 180px; 

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
}

#menu-items-grid {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}